spring:
  datasource:
    url: jdbc:h2:mem:foodeals;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        globally_quoted_identifiers: true

  h2:
    console:
      enabled: true

logging:
  level:
    root: INFO
