spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: "akashi6von@gmail.com"
    password: "lfez ujav jdgd wssc"
    properties:
      mail:
        transport:
          protocol: smtp
        smtp:
          auth: true
          starttls:
            enable: true

  application:
    name: Foodeals

  datasource:
    url: jdbc:postgresql://localhost:5434/foodeals-db
    username: postgres
    password: admin
    driver-class-name: org.postgresql.Driver
    hikari:
      auto-commit: false

  jpa:
    hibernate:
      ddl-auto: none
      dialect: org.hibernate.dialect.PostgreSQLDialect
      show-sql: true
    open-in-view: false
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
          time_zone: UTC
        type:
          preferred-instant-jdbc-type: TIMESTAMP
          jsonb:
            allow: true

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

server:
  servlet:
    multipart:
      max-file-size: 1000MB
      max-request-size: 1000MB
  tomcat:
    max-swallow-size: -1

logging:
  level:
    root: ERROR
    org.flywaydb: DEBUG
    org.springframework.jdbc: DEBUG
    org.hibernate.SQL: DEBUG

app:
  security:
    jwt:
      secret-key: 883e807d7ee46bfd82464d697b0e6455d32b8406c6ee3a36e4a97de7ab976196
      expiration: 2592000000 # 30 days
      refresh-token:
        expiration: 2592000000 # 30 days

user:
  dir: C:/Users/nasri/eclipse-workspace/Foodeals-Admin/foodeals-admin-api/

upload:
  directory: resources
